/* layers */
/* make sure non-playable stacks are below live stacks */

.card { z-index: 1; }
/*
.ontable > .card { z-index: 0; }
*/
/* pulldown menu sits over most everything */
#pulldown-menu { z-index: 3; }
/* ensure cards being placed in neutral block still appear above board elements when dragging */
#neutral-block { z-index: 1; }

/* board element layers to prevent overlapping element clipping */
/*
.screen.top, .screen.bottom { z-index: 1; }
.screen.mid { z-index: 2; }
*/
#dragmap { z-index: 3; }
#dragmap.enable { display: block; }
/* push pulldown menu behind cards if dragging is happening */
#dragmap.enable ~ .screen.mid > #pulldown-menu { z-index: 1; }

/* cardsrow layers */
.cardsrow { z-index: 2; }
.cardsrow > div { z-index: 0; }
.cardsrow > div:nth-child(2) { z-index: 1; }
